
.font1 {
  font-size: 10px;
}

.font2 {
  font-size: 12px;
}

.font3 {
  font-size: 14px;
}

.font4 {
  font-size: 16px;
}

.font5 {
  font-size: 18px;
}

#tags span {
  padding-left: 0.25em;
  padding-right: 0.25em;
}